@import "variables";
@import "maps";

@import "../node_modules/bootstrap/scss/bootstrap";

@import "base";
@import "layout";

//Custom styles
@import "components/navbar";
@import "components/hero";
@import "components/card";
@import "components/trusted-by";
@import "components/tools";
@import "components/features";
@import "components/technology";
@import "components/download";
@import "components/awards";
@import "components/questions";
@import "components/footer";
